.productstitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
padding-bottom: 30px;
margin-top: 50px;
}
.emptydiv{
    height: 100px;
}
.productsbox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.productsgrid{
    width: 95%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 15px;
    margin-bottom: 40px;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
    .productstitle{
        font-size: 40px;
    }
}
@media only screen and (max-width: 400px) {
    .productstitle{
        font-size: 35px;
    }
}
.productfilterandgrid{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.productflex{
    display: flex;
    flex-direction: column;
    width: calc(100% - 350px);
    justify-content: center;
    align-items: center;
}
.filterlist{
    display: flex;
    width: calc(90%);
    flex-direction: row;
    min-height:54px ;
    height: fit-content;
    border-radius: 20px;
    border: solid 1px blue;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    padding: 3px 20px;
}
.filtersapplied{
    width: 100px;
    text-align: center;
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.catagoriesselected{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.catogarieselectedcard img{
    width: 20px;
    object-fit: cover;
    margin: 5px;
    cursor: pointer;
}
.catogarieselectedcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px blue;
    padding: 5px 10px;
    margin: 2px 5px;
    font-size: 15px;
}
.filterbox{
    width: 300px;
    height: calc(100vh);
    max-width: 100%;
    position:sticky;
    top: 0;
    position: -webkit-sticky;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: 1s;
    background-color: white;
}
.topicandimg{
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 0 5px;
}
.topicandimg img{
    width: 30px;
    object-fit: contain;
}
.catogarieslist{
    width: 80%;
    height: fit-content;
    margin: 50px 0;
}
.categorie{
    padding: 10px 0;
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
.cattopic{
    font-size: 25px;
    margin-bottom: 15px;
}
.filtersapplied img{
    display: none;
}
@media only screen and (max-width: 915px) {
    .out{
        position: absolute;
        left: -350px;
    }
    .productflex{
        width: 100%;
    }
    .filtersapplied img{
        display: flex;
    width: 30px;
    object-fit: contain;
    }
    .filtersapplied{
        cursor: pointer;
    }
    .slidein{
        position: fixed;
        left: 0px;
    }
}