.productstitle{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 48px;
padding-bottom: 30px;
}
.emptydiv{
    height: 150px;
}
.productsbox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productsgrid{
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
}
@media only screen and (max-width: 700px) {
    .productstitle{
        font-size: 40px;
    }
}
@media only screen and (max-width: 400px) {
    .productstitle{
        font-size: 35px;
    }
}