.logo{
    background: url('../../Assets/Logo-removebg-preview\ 1.png') no-repeat;
    width: 100px;
    background-position: center;
    background-size: cover;
    height: 100px;
}
.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    top: 0px;
}
.overflow{
    width: 100%;
    overflow-x: hidden;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 10px 30px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.productlist{
    display: none;
}
.product:hover .productlist{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    border: solid black 1px;
    z-index: 1;
}
.productitems{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 10px ;
    justify-content: center;
    align-items: flex-start;
}
.productitems:hover{
    text-decoration: underline;
}
/* .product:focus .productlist{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 644px;
} */
.login{
    border: #000000 solid 2px;
}
.navbartoogle{
    display: none;
}
.Menu{
    background: url('../../Assets/icons8-menu-64.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.Close{
    background: url('../../Assets/icons8-cross-64.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.verticallist{
    background-color: aquamarine;
    position: fixed;
    height: 100%;
    width: 100%;
    /* max-height: 700px;
    max-width: 400px; */
    /* width: 250px; */
    display: flex;
    right: -100%;
    top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 1;
}
.verticallist ul{
    display: flex;
    flex-direction: row;
}
.items a{
    text-decoration: none;
    color: #000000;
}
.verticallist a{
    text-decoration: none;
    color: #000000;
}
.menu{
    transform: translateX(0px);
}
.close{
    transform: translateX(-100%);
}

@media only screen and (max-width: 950px) {
    .box{
        padding: 0 10px;
        height: 70px;
    }
    .logo{
        height: 70px;
        width: 70px;
    }
    .navbartoogle{
        display: flex;
        flex-direction: column;
        width: 50px;
        height: 50px;
        z-index: 10;
        cursor: pointer;
    }
    .list{
        display: none;
    }
  }