.reviewcardbox{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    transform: translateX(-50%); 
    transition: 1s;
    background-color: white;
}
.reviewbox [data-status= 'Active' ]{
    z-index: 10;
}
.reviewbox [data-status= 'Left' ]{
    z-index: 1;
    scale: 0.8;
    left: 25%;
}
.reviewbox [data-status= 'Right' ]{
    z-index: 1;
    scale: 0.8;
    left: 75%;
}.reviewbox [data-status= 'Unknown' ]{
    scale: 0;
}
.reviewcardbox{
    padding: 20px;
}