.testimonial__cardbox {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  /* border-radius: 1rem; */
  /* box-shadow: 0px 10px 8px #999; */
  /* border: 1px solid black; */
}

.cardhead {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.testimonialcard__title {
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}
.testimonialcard__name {
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}
.testimonialcard__img {
  width: 100px; /* Adjust the width and height as needed */
    height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonialcard__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stars {
    padding-top: 1rem;
}